[Unit]
Description=Feedletter RSS-To-Mail-Etc Service
After=syslog.target network.target

[Service]
Type=simple
User=feedletter
Group=feedletter
WorkingDirectory=/home/feedletter/development/gitproj/feedletter

ExecStart=/bin/bash -c "JAVA_HOME=/usr/local/pkg/jdk17 PATH=${PATH}:${JAVA_HOME}/bin ./feedletter daemon"

KillMode=mixed
KillSignal=SIGTERM
TimeoutStopSec=90
Restart=on-failure
RestartSec=10s
StandardError=journal
StandardOutput=journal
StandardInput=null

[Install]
WantedBy=multi-user.target

